/* Estilos gerais */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.student-login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-box {
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-box h2 {
    color: #8A2BE2;
    margin-bottom: 20px;
    font-size: 24px;
    align-items: center;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.login-box input:focus {
    border-color: #8A2BE2;
}

.login-box button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #8A2BE2;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-box button:hover {
    background-color: #7B1FA2;
}

.cadastro-link {
    margin-top: 20px;
    font-size: 14px;
    color: #333333;
}

.cadastro-link a {
    color: #8A2BE2;
    text-decoration: none;
    font-weight: bold;
}

.cadastro-link a:hover {
    text-decoration: underline;
}